.container{
    width: 100%;
    padding: 25px 15px 50px;
    margin: auto;
}
.header{
    text-align: center;
    margin-bottom: 25px;
}
.header h1{
    letter-spacing: 2px;
    color: rgb(7, 218, 255);
}
.header h1 span{
    color: rgb(252, 64, 101);
}
.header p{
    color: rgb(142, 154, 180);
    font-size: smaller;
}
.btns{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.btns button{
    padding: 10px 20px;
    background-color: rgb(17, 27, 48);
    color: white;
    border: 1px solid rgb(63, 82, 116);
    border-radius: 10px;
    cursor: pointer;
}
.btns button:first-child:focus{
    color: rgb(7, 218, 255);
    border-color: rgb(7, 218, 255);
}
.btns button:last-child:focus{
    color:rgb(252, 64, 101);
    border-color: rgb(252, 64, 101);
}