*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(7, 11, 22);
    color: white;
}
button, select{
    font-weight: bold;
}

img{
    max-width:100%;
    display: block;
}